@using DubaiMusicSchool.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/slick/slick.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/themify-icons/themify-icons.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/animate/animate.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/aos/aos.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/lib/venobox/venobox.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.min.css" rel="stylesheet" asp-append-version="true" />
</head>
<body>

    <!-- preloader start -->
    <div class="preloader">
        <img src="~/images/preloader.gif" alt="preloader">
    </div>
    <!-- preloader end -->


    <header class="fixed-top header">
        <!-- top header -->

        <div class="top-header py-2 bg-white">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 text-center text-lg-left">
                        <a class="text-color mr-3" href="callto:+97158938822"><strong>CALL</strong> +971 589 388 221</a>
                        <ul class="list-inline d-inline">
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <partial name="_LoginPartial" />                    
                </div>
            </div>
        </div>

        <!-- navbar -->

        <div class="navigation w-100">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/logo.png" alt="logo" class="responsive"></a>
                    <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto text-center">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>
                            <li class="nav-item @@about">
                                <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item @@courses">
                                <a class="nav-link" asp-controller="Home" asp-action="Courses">COURSES</a>
                            </li>
                            <li class="nav-item @@events">
                                <a class="nav-link" asp-controller="Home" asp-action="Events">EVENTS</a>
                            </li>
                            <li class="nav-item @@blog">
                                <a class="nav-link" asp-controller="Home" asp-action="Teachers">Teachers</a>
                            </li>                         
                            <li class="nav-item @@contact">
                                <a class="nav-link" asp-controller="Home" asp-action="Contact">CONTACT US</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>


        @*<nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="container">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@GlobalConstants.SystemName</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial" />
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Settings" asp-action="Index">Settings</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>*@
    </header>


    @this.RenderBody()

    <!-- footer -->
    <footer>

       
        <div class="copyright py-4 bg-footer">
            <div class="container">
                <div class="row">
                    <div class="col-sm-7 text-sm-left text-center">
                        <p class="mb-0">
                            Copyright
                            <script>
                                var CurrentYear = new Date().getFullYear()
                                document.write(CurrentYear)
                            </script>
                            © Dubai Music School
                        </p>
                    </div>
                    <div class="col-sm-5 text-sm-right text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-facebook text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-twitter-alt text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-linkedin text-primary"></i></a></li>
                            <li class="list-inline-item"><a class="d-inline-block p-2" href="#"><i class="ti-instagram text-primary"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- /footer -->
    <!-- SCRIPTS -->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/bootstrap.min.js" asp-append-version="true"></script>

    <script src="~/lib/slick/slick.min.js" asp-append-version="true"></script>
    <script src="~/lib/aos/aos.js" asp-append-version="true"></script>
    <script src="~/lib/venobox/venobox.min.js" asp-append-version="true"></script>
    <script src="~/lib/filterizr/jquery.filterizr.min.js" asp-append-version="true"></script>
    <script src="~/lib/google-map/gmap.js" asp-append-version="true"></script>

    <script src="~/js/script.js" asp-append-version="true"></script>
    @this.RenderSection("Scripts", required: false)

    <!-- SCRIPTS END -->

</body>
</html>
